<div class="singlesignon-login">
    <h3 class="singlesignon-login-title text-center">{{ title }}</h3>
    <div class="singlesignon-login-buttons d-grid gap-2">
        {% for button in buttons %}
            <a class="btn btn-outline-primary singlesignon-login-button" href="{{ button.href }}"
               {% if button.style %}style="{{ button.style }}"{% endif %}
               {% if button.popup %}data-singlesignon-popup="true"{% endif %}>
                {% if button.picture %}
                    <img src="{{ button.picture }}" alt="" class="singlesignon-login-picture"/>
                {% endif %}
                <span>{{ button.label }}</span>
            </a>
        {% endfor %}
    </div>
    <div class="singlesignon-login-classic text-center">
        <a class="btn btn-link" href="{{ classic_url }}">
            {{ classic_label }}
        </a>
    </div>
</div>
