{#
 # ---------------------------------------------------------------------
 # SingleSignOn is a plugin which allows to use SSO for auth
 # ---------------------------------------------------------------------
 # Copyright (C) 2026 Edgard
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
 # ---------------------------------------------------------------------
 # @copyright Copyright © 2021 - 2026 Edgard
 # @license   http://www.gnu.org/licenses/gpl.txt GPLv3+
 # @link      https://github.com/edgardmessias/glpi-singlesignon/
 # ---------------------------------------------------------------------
 #}

{#
 # ---------------------------------------------------------------------
 # Table row macros for GLPI-style provider forms.
 # Labels (l1, l2) are auto-escaped; field cells (c1, c2) use |raw for HTML.
 # ---------------------------------------------------------------------
 # @copyright Copyright © 2021 - 2026 Edgard
 # @license   http://www.gnu.org/licenses/gpl.txt GPLv3+
 # ---------------------------------------------------------------------
 #}

{% macro row_two_pairs(row_class, l1, c1, l2, c2) %}
<tr class="{{ row_class }}">
    <td>{{ l1 }}</td>
    <td>{{ c1|raw }}</td>
    <td>{{ l2 }}</td>
    <td>{{ c2|raw }}</td>
</tr>
{% endmacro %}

{% macro row_full_width(row_class, l1, c1, row_attrs) %}
<tr class="{{ row_class }}"{% if row_attrs %} {{ row_attrs|raw }}{% endif %}>
    <td>{{ l1 }}</td>
    <td colspan="3">{{ c1|raw }}</td>
</tr>
{% endmacro %}

{% macro section_header(title) %}
<tr class="tab_bg_1">
    <th colspan="4">{{ title }}</th>
</tr>
{% endmacro %}
