{#
 # ---------------------------------------------------------------------
 # SingleSignOn is a plugin which allows to use SSO for auth
 # ---------------------------------------------------------------------
 # Copyright (C) 2026 Edgard
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
 # ---------------------------------------------------------------------
 # @copyright Copyright © 2021 - 2026 Edgard
 # @license   http://www.gnu.org/licenses/gpl.txt GPLv3+
 # @link      https://github.com/edgardmessias/glpi-singlesignon/
 # ---------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% import 'components/form/basic_inputs_macros.html.twig' as inputs %}

{% set sso_hidden_class = provider.fields.type != 'generic' ? 'd-none' : '' %}
{% set picture_style = 'max-width: 100px; max-height: 100px; background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%); background-size: 10px 10px; background-position: 0 0, 0 5px, 5px -5px, -5px 0px;' %}

{% set _tip_extra = call('nl2br', [call('sprintf', [
   __('Allows you to specify custom parameters for the SSO provider %1$s. Example: %2$s to force login or %3$s to force account selection (supported URL settings may vary by provider). You can specify additional parameters with the "&" delimiter.', 'singlesignon'),
   '<strong>' ~ __('Authorize URL', 'singlesignon') ~ '</strong>',
   '<code>prompt=login</code>',
   '<code>prompt=select_account</code>'
])]) %}
{% set _tip_domains = call('nl2br', [__('Provide a list of domains allowed to log in through this provider (separated by commas, no spaces) (optional).', 'singlesignon')]) %}
{% set _tip_photo_sync = call('nl2br', [__('Choose when user avatars should be synchronized during login.', 'singlesignon')]) %}
{% set _tip_resource_owner_auth = call('nl2br', [__('Controls how Authorization header is built for Resource Owner Details requests.', 'singlesignon')]) %}
{% set _tip_picture_auth = call('nl2br', [__('Controls how Authorization header is built for avatar download requests.', 'singlesignon')]) %}
{% set _tip_custom_headers = call('nl2br', [__('One header per line (format: Header-Name: value). Supported placeholders: <token> and <access_token>. Example: api-key: <token>', 'singlesignon')]) %}
{% set _tip_ssl_verify_host = call('nl2br', [__('Verify that the server certificate matches the hostname (recommended). Disable only for testing or self-signed certificates.', 'singlesignon')]) %}
{% set _tip_ssl_verify_peer = call('nl2br', [__('Verify the server certificate against trusted CAs (recommended). Disable only for testing or self-signed certificates.', 'singlesignon')]) %}

{% set type_on_change = 'var _value = this.options[this.selectedIndex].value; $(".sso_url").toggle(_value == "generic");' %}
{% set field_opts = {
    align_label_right: true,
    field_class: 'col-12 col-xxl-6',
    label_class: 'col-xxl-4',
    input_class: 'col-xxl-8'
} %}

<form method="post" action="{{ form_action }}">
<input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}"/>
{% if provider_id %}
    <input type="hidden" name="id" value="{{ provider_id }}"/>
{% endif %}

<div id="sso-provider-modern-form" class="row text-start">
    <div class="col-12">
        <div class="hr-text my-3">{{ __('General') }}</div>
    </div>

    {{ fields.textField('name', provider.fields.name|default(''), __('Name'), field_opts) }}
    {{ fields.textareaField('comment', provider.fields.comment|default(''), __('Comments'), {
        rows: 5,
        enable_richtext: false,
        enable_fileupload: false
    }|merge(field_opts)) }}

    {% set type_field %}
        {{ call(['GlpiPlugin\\Singlesignon\\Provider', 'dropdownType'], ['type', {
            value: provider.fields.type|default('generic'),
            on_change: type_on_change,
            width: '100%',
            display: false
        }])|raw }}
    {% endset %}
    {{ fields.htmlField('type', type_field, __('SSO Type', 'singlesignon'), field_opts) }}
    {{ fields.dropdownYesNo('is_active', provider.fields.is_active|default(0), __('Active'), field_opts) }}

    {{ fields.textField('client_id', provider.fields.client_id|default(''), __('Client ID', 'singlesignon'), field_opts) }}
    {{ fields.textField('client_secret', provider.fields.client_secret|default(''), __('Client Secret', 'singlesignon'), field_opts) }}

    <div class="col-12">
        <div class="hr-text my-3">{{ __('OAuth URLs and HTTP', 'singlesignon') }}</div>
    </div>

    {{ fields.textField('scope', call([provider, 'getScope'], []), __('Scope', 'singlesignon'), field_opts) }}
    {{ fields.textField('extra_options', provider.fields.extra_options|default(''), __('Extra Options', 'singlesignon'), {
        helper: _tip_extra
    }|merge(field_opts)) }}

    {{ fields.urlField('url_authorize', call([provider, 'getAuthorizeUrl'], []), __('Authorize URL', 'singlesignon'), {
        add_field_class: 'sso_url ' ~ sso_hidden_class
    }|merge(field_opts)) }}
    {{ fields.urlField('url_access_token', call([provider, 'getAccessTokenUrl'], []), __('Access Token URL', 'singlesignon'), {
        add_field_class: 'sso_url ' ~ sso_hidden_class
    }|merge(field_opts)) }}
    {{ fields.urlField('url_resource_owner_details', call([provider, 'getResourceOwnerDetailsUrl'], []), __('Resource Owner Details URL', 'singlesignon'), {
        add_field_class: 'sso_url ' ~ sso_hidden_class
    }|merge(field_opts)) }}
    {{ fields.nullField({
        field_class: 'col-12 col-xxl-6 sso_url ' ~ sso_hidden_class
    }) }}

    {{ fields.dropdownArrayField('resource_owner_auth_type', provider.fields.resource_owner_auth_type|default('bearer'), call(['GlpiPlugin\\Singlesignon\\Provider', 'getAuthorizationTypes'], []), __('Resource Owner Authorization', 'singlesignon'), {
        helper: _tip_resource_owner_auth
    }|merge(field_opts)) }}
    {{ fields.textareaField('resource_owner_custom_headers', provider.fields.resource_owner_custom_headers|default(''), __('Resource Owner Custom Headers', 'singlesignon'), {
        rows: 3,
        enable_richtext: false,
        enable_fileupload: false,
        helper: _tip_custom_headers
    }|merge(field_opts)) }}

    {{ fields.dropdownYesNo('ssl_verify_host', provider.fields.ssl_verify_host|default(1), __('SSL verify host', 'singlesignon'), {
        helper: _tip_ssl_verify_host
    }|merge(field_opts)) }}
    {{ fields.dropdownYesNo('ssl_verify_peer', provider.fields.ssl_verify_peer|default(1), __('SSL verify peer', 'singlesignon'), {
        helper: _tip_ssl_verify_peer
    }|merge(field_opts)) }}

    <div class="col-12">
        <div class="hr-text my-3">{{ __('Login behavior', 'singlesignon') }}</div>
    </div>

    {{ fields.dropdownYesNo('is_default', provider.fields.is_default|default(0), __('IsDefault', 'singlesignon'), field_opts) }}
    {{ fields.dropdownYesNo('popup', provider.fields.popup|default(0), __('PopupAuth', 'singlesignon'), field_opts) }}
    {{ fields.dropdownYesNo('split_domain', provider.fields.split_domain|default(0), __('SplitDomain', 'singlesignon'), field_opts) }}
    {{ fields.textField('authorized_domains', provider.fields.authorized_domains|default(''), __('AuthorizedDomains', 'singlesignon'), {
        helper: _tip_domains
    }|merge(field_opts)) }}
    {{ fields.dropdownYesNo('use_email_for_login', provider.fields.use_email_for_login|default(0), __('Use Email as Login', 'singlesignon'), field_opts) }}
    {{ fields.dropdownYesNo('split_name', provider.fields.split_name|default(0), __('Split Name', 'singlesignon'), field_opts) }}

    <div class="col-12">
        <div class="hr-text my-3">{{ __('Registration', 'singlesignon') }}</div>
    </div>

    {{ fields.dropdownYesNo('auto_register', provider.fields.auto_register|default(0), __('Allow automatic registration', 'singlesignon'), field_opts) }}
    {{ fields.dropdownYesNo('registration_preview', provider.fields.registration_preview|default(0), __('Confirm registration before creating account', 'singlesignon'), field_opts) }}
    {{ fields.dropdownField(
        'Entity',
        'default_entities_id',
        provider.fields['default_entities_id']|default(0),
        __('Default entity for new users', 'singlesignon'),
        field_opts|merge({ display_emptychoice: true })
    ) }}
    {{ fields.dropdownYesNo('match_entity_by_email_domain', provider.fields.match_entity_by_email_domain|default(0), __('Match entity by email domain (entity name = domain)', 'singlesignon'), field_opts) }}
    {{ fields.dropdownField(
        'Profile',
        'default_profiles_id',
        provider.fields['default_profiles_id']|default(0),
        __('Default profile when GLPI has no default', 'singlesignon'),
        field_opts|merge({ display_emptychoice: true })
    ) }}

    <div class="col-12">
        <div class="hr-text my-3">{{ __('User photo synchronization', 'singlesignon') }}</div>
    </div>

    {{ fields.dropdownArrayField('user_photo_sync_mode', provider.fields.user_photo_sync_mode|default(0), call(['GlpiPlugin\\Singlesignon\\Provider', 'getPhotoSyncModes'], []), __('Synchronization mode', 'singlesignon'), {
        helper: _tip_photo_sync
    }|merge(field_opts)) }}
    {{ fields.dropdownArrayField('resource_owner_picture_auth_type', provider.fields.resource_owner_picture_auth_type|default('bearer'), call(['GlpiPlugin\\Singlesignon\\Provider', 'getAuthorizationTypes'], []), __('Photo Authorization', 'singlesignon'), {
        helper: _tip_picture_auth
    }|merge(field_opts)) }}
    {{ fields.textareaField('resource_owner_picture_custom_headers', provider.fields.resource_owner_picture_custom_headers|default(''), __('Photo Custom Headers', 'singlesignon'), {
        rows: 3,
        enable_richtext: false,
        enable_fileupload: false,
        helper: _tip_custom_headers
    }|merge(field_opts)) }}

    <div class="col-12">
        <div class="hr-text my-3">{{ __('Personalization') }}</div>
    </div>

    {% set bgcolor_extra = call('Html::getCheckbox', [{title: __('Clear'), name: '_blank_bgcolor', checked: (provider.fields.bgcolor|default('')) == ''}])|raw ~ '&nbsp;' ~ __('Clear')|e %}
    {% set color_extra = call('Html::getCheckbox', [{title: __('Clear'), name: '_blank_color', checked: (provider.fields.color|default('')) == ''}])|raw ~ '&nbsp;' ~ __('Clear')|e %}
    {{ fields.colorField('bgcolor', provider.fields.bgcolor|default(''), __('Background color'), {
        add_field_html: bgcolor_extra,
        inline_add_field_html: true
    }|merge(field_opts)) }}
    {{ fields.colorField('color', provider.fields.color|default(''), __('Color'), {
        add_field_html: color_extra,
        inline_add_field_html: true
    }|merge(field_opts)) }}

    {% if provider.fields.picture|default('') is not empty %}
        {% set picture_field = call('Html::image', [call(['GlpiPlugin\\Singlesignon\\ToolboxPlugin', 'getPictureUrl'], [provider.fields.picture]), {style: picture_style, class: 'picture_square'}])|raw %}
        {% set picture_extra = call('Html::getCheckbox', [{title: __('Clear'), name: '_blank_picture'}])|raw ~ '&nbsp;' ~ __('Clear')|e %}
    {% else %}
        {% set picture_field = inputs.file('picture', null, {onlyimages: true}) %}
        {% set picture_extra = '' %}
    {% endif %}
    {{ fields.htmlField('picture', picture_field, __('Picture'), {
        field_class: 'col-12 col-xxl-6',
        label_class: field_opts.label_class,
        input_class: field_opts.input_class,
        add_field_html: picture_extra,
        inline_add_field_html: true
    }) }}
    {{ fields.nullField({
        field_class: 'col-12 col-xxl-6'
    }) }}

<script type="text/javascript">
$("[name=bgcolor]").on("change", function () {
   $("[name=_blank_bgcolor]").prop("checked", false).attr("checked", false);
});
$("[name=color]").on("change", function () {
   $("[name=_blank_color]").prop("checked", false).attr("checked", false);
});
</script>

{% if provider_id %}
    {% set cb_path = call(['GlpiPlugin\\Singlesignon\\ToolboxPlugin', 'getCallbackUrl'], [provider_id]) %}
    {% set cb_full = call(['GlpiPlugin\\Singlesignon\\ToolboxPlugin', 'getBaseURL'], []) ~ cb_path %}
    {% set cb_link = '<a id="singlesignon_callbackurl" href="' ~ cb_full|e('html_attr') ~ '" data-url="' ~ cb_path|e('html_attr') ~ '">' ~ cb_full|e ~ '</a>' %}
    <div class="col-12 mt-2">
        <div class="hr-text my-3">{{ __('Test') }}</div>
    </div>
    {{ fields.htmlField('callback_url', cb_link, __('Callback URL', 'singlesignon'), {full_width: true}|merge(field_opts)) }}
{% endif %}
</div>

<div class="card-footer mx-n2 d-flex gap-2">
    {% if provider_id %}
        <button type="submit" name="update" value="1" class="btn btn-primary ms-auto">
            <i class="ti ti-device-floppy"></i>
            <span>{{ _x('button', 'Save') }}</span>
        </button>
        <button type="button" name="test_singlesignon" class="btn btn-outline-secondary">
            <i class="ti ti-plug-connected"></i>
            <span>{{ __('Test Single Sign-on', 'singlesignon') }}</span>
        </button>
        <button type="submit" name="delete" value="1" class="btn btn-outline-danger">
            <i class="ti ti-trash"></i>
            <span>{{ __('Put in trashbin') }}</span>
        </button>
    {% else %}
        <button type="submit" name="add" value="1" class="btn btn-primary ms-auto">
            <i class="ti ti-plus"></i>
            <span>{{ _x('button', 'Add') }}</span>
        </button>
    {% endif %}
</div>
</form>
